        </div>
    </main>
    <script>
        /**
         * After window has loaded start the function. The function
         * Fetches data from the drones.json document, which is also 
         * in the public folder, and displays that data within the div 
         * with the id "pilotData".
         */
        window.onload = function fetch_data() {
            const container = document.getElementById("pilotData");

            /**
             * Every 2 seconds execute the fetch action with promises.
             * The code loops through every drone, adding the necessary
             * information in the appropriate HTML format into a string.
             * The HTML is then updated within the fetch right after the 
             * loop.
             */ 
            setInterval(() => { 
                fetch("{PILOT_DATA_URL}").then((response) => { 
                    return response.json();
                }).then((drones) => {
                    var dataContent = "";
                    Object.entries(drones).forEach((element) => {
                        dataContent = dataContent.concat(`<div> 
                            <h3>${element[1].pilot}</h3> 
                            <p>${element[1].phone}, ${element[1].email}, ${element[1].distance}</p>
                            </div>`);
                    });
                    container.innerHTML = dataContent; 
                    console.log("updated");
                }).catch((error) => { 
                    console.log(error); 
                });
            }, 2000);
        }
    </script>

</body>
</html> 

