<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Birds nest</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>    
    <main>
        <h2>
            Law breaking pilots in order form least to most recent.
        </h2>

        <p>
            A pilot lands on the list if they enter within 100m of the nest. The list remembers the worst violation for 10 minutes after the last violation. Display's name, phone number, email and shortest recorded distance from the nest.
        </p>
        
        <p>
            App by Otso Aksela, code on github at <a target="_blank" href="https://github.com/akselaotso/BirdsNest">//github.com/akselaotso/BirdsNest.
        </p>

        <div id="pilotDataDiv">